.todo_container{
    padding: 10px 10px 0 10px;
    border-radius: 15px;
    background-color: #59c3db;
}

.todo_list_header{
    text-align: center;
    margin-bottom: 20px;
}

.main_container{
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.button{
    align-self: flex-end;
    margin-bottom: 15px;
}